version: "3.9"

services:
  db:
    ports:
      - "5433:5432"
    volumes:
      - postgres_test_data:/var/lib/postgresql/data

  redis:
    ports:
      - "6380:6379"

volumes:
  postgres_test_data:
